# TABLERO DE VALOR GANADO PARA PROYECTOS EPC

A continuación será desarrollado el modelo de datos básico para una estimación precisa del método de valor ganado, con el cuál se logrará un cálculo de las variables de la metodología.....

En primera instancia, vamos a importar las librerías con las que se procesará la data del proyecto para implementar las visualizaciones posteriores, Pandas, Numpy....

In [6]:
import pandas as pd
import numpy as np

Luego, vamos a cargar en un dataframe los datos del proyecto.

In [9]:
df = pd.read_excel('C:/Users/aruizr/OneDrive/9. Valor Ganado/data/processed/df_unique.xlsx')
df.head(10)

                                           Proveedor              edt
0                                                 -               NaN
1  00868300153     - COMELETRIC SRL              ...              NaN
2  1001672903      - Levis Angel Luna Espriella  ...              NaN
3  1002996408      - Ivan Dario Hernandez Perez  ...              NaN
4  1007646696      - Laura Valentina Ortiz Sanche...              NaN
5  1017127468      - Buitrago Gallego Andrea     ...     3616-SP01_03
6  1017138171      - Hildebrando Hernandez Zapata...    3616-C000_314
7                1017143438 - Robinson Albert Suarez              NaN
8  1038416055      - Julian David Zuluaga Ciro   ...              NaN
9  1039462121      - AGUIRRE MARTINEZ LUIS MIGUEL...  3616-SP01_09.01